<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Portable.Ninject" version="3.3.1" targetFramework="xamarinios10" />
  <package id="Rx-Core" version="2.2.5" targetFramework="xamarinios10" />
  <package id="Rx-Interfaces" version="2.2.5" targetFramework="xamarinios10" />
  <package id="Rx-Linq" version="2.2.5" targetFramework="xamarinios10" />
  <package id="Rx-Main" version="2.2.5" targetFramework="xamarinios10" />
  <package id="Rx-PlatformServices" version="2.2.5" targetFramework="xamarinios10" />
  <package id="StyleCop.Analyzers" version="1.0.0" targetFramework="xamarinios10" developmentDependency="true" />
  <package id="Xamarin.Forms" version="2.1.0.6529" targetFramework="xamarinios10" />
</packages>