@{
    ViewBag.Title = "Reset";
}

<div class="row">
    <div class="tab-pane active col-md-10 col-md-offset-1">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Reset</h3>
            </div>
            <div class="panel-body">
                <div class="form-group text-center">
                    <form method="post" role="form">
                        <button type="submit" class="btn btn-danger confirm" data-confirm-message="Are you sure?">
                            <span class="glyphicon glyphicon-off"></span> Reset
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
