<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <targets>
    <target xsi:type="Null" name="blackhole" />
    <target xsi:type="File" name="file"
        fileName="${basedir}/../Log/Example.Server/Example.Server.log"
        archiveFileName="${basedir}/../Log/Example.Server/Example.Server.{##}.log"
        archiveNumbering="Rolling"
        archiveAboveSize="10485760"
        maxArchiveFiles="10"
        concurrentWrites="true"
        keepFileOpen="true"
        encoding="UTF-8"
        layout="${longdate} ${pad:padding=-5:inner=${level:uppercase=true}} [${threadid}] ${aspnet-mvc-controller}.${aspnet-mvc-action} (${aspnet-user-identity}) ${aspnet-request-url:IncludeQueryString=true} - ${message}${exception:format=tostring}" />
  </targets>

  <rules>
    <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />
    <logger name="*" minlevel="Info" writeTo="file" />
  </rules>

</nlog>