<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.NETCore.Platforms" version="1.1.0" targetFramework="xamarinios10" />
  <package id="NETStandard.Library" version="2.0.0" targetFramework="xamarinios10" />
  <package id="System.ComponentModel" version="4.3.0" targetFramework="xamarinios10" />
  <package id="Usa.Smart.Core" version="1.0.4" targetFramework="xamarinios10" />
  <package id="Usa.Smart.Forms" version="0.9.0" targetFramework="xamarinios10" />
  <package id="Xamarin.Forms" version="2.4.0.282" targetFramework="xamarinios10" />
</packages>